body {
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
}
.navbar, header a, header a:hover {
    color: #fff;

}
.navbar-light .navbar-brand {
    color: #fff;
}
.logo {
    font-size: 16px;
    font-weight: bold;

}
.logo img {
    display: inline-block;
    width: 30px;
    margin-right: 10px;
}
.card {
    margin-bottom: 30px;
}
.card-text {
    font-size: .8rem;
}
.hero {
    -webkit-background-size: cover;
    background-size: cover;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.hero:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
}
.hero h1 {
    position: relative;
    width: 60%;
    font-size: 42px;
    color: #fff;
}
footer {
    color: #fff;
    font-size: 12px;
}